@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #08080a;
  color: #f3f4f6;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #0f0f13;
}
::-webkit-scrollbar-thumb {
  background: #272733;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #383849;
}